
 <div class="container-xxl m-0 p-0 pt-lg-5 bg-primary hero-header">
    <div class="container m-0 p-0 py-lg-3 px-lg-5">
        <div class="row m-0 p-0 g-5">
            <div class="col-12 text-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Главная</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="#other_services">Другие услуги</a></li>
                        <li class="breadcrumb-item"><a class="text-white" href="{% url 'main_service' main_service.slug %}">{{ main_service.name }}</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
