{% if page_obj.has_other_pages %}
<nav>
    <ul class="pagination">
    {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
        <li class="page-item"><span class="page-link active" >{{ p }}</span></li>
        {% elif p >= page_obj.number|add:-1 and p <= page_obj.number|add:1 %}
        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
        <li class="page-item">
            {% if p > page_obj.number %}
            <a class="page-link next" href="?page={{ p }}" aria-label="Next">
                <i class="fa fa-angle-right"></i>
            </a>
            {% else %}
            <a class="page-link prev" href="?page={{ p }}" aria-label="Previous">
                <i class="fa fa-angle-left"></i>
            </a>
            {% endif %}
        </li>
        {% endif %}
    {% endfor %}
    </ul>
</nav>
{% endif %}
